// Import material design icons (https://materialdesignicons.com)
@import '~@mdi/font/css/materialdesignicons.min.css';
// Custom font
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
$family-sans-serif: 'Fira Sans', BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

// Import Bulma's core
@import '~bulma/sass/utilities/_all';

$primary: #ff6f59;
$info: #006494;
$link: #4392f1;
$success: #359340;
$warning: #ffca3a;
$danger: #d30d0d;
// Setup $colors to use as bulma classes (e.g. 'is-primary')
$colors: (
  'primary': (
    $primary,
    findColorInvert($primary),
  ),
  'info': (
    $info,
    findColorInvert($info),
  ),
  'success': (
    $success,
    findColorInvert($success),
  ),
  'warning': (
    $warning,
    findColorInvert($warning),
  ),
  'danger': (
    $danger,
    findColorInvert($danger),
  ),
  'link': (
    $link,
    findColorInvert($link),
  ),
  'yellow': (
    $yellow,
    findColorInvert($yellow),
  ),
);

// Import Bulma and Buefy styles
@import '~bulma';
@import '~buefy/src/scss/buefy';
