:root {
  --black: hsl(0, 0%, 4%);
  --black-bis: hsl(0, 0%, 7%);
  --black-ter: hsl(0, 0%, 14%);

  --grey-darker: hsl(0, 0%, 21%);
  --grey-dark: hsl(0, 0%, 29%);
  --grey: hsl(0, 0%, 48%);
  --grey-light: hsl(0, 0%, 71%);
  --grey-lighter: hsl(0, 0%, 86%);

  --white-ter: hsl(0, 0%, 96%);
  --white-bis: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

.dark-theme {
  background-color: var(--black) !important;

  .box {
    background-color: var(--black-bis);
    box-shadow: 0 2px 3px rgba(hsl(0, 0%, 100%), 0.1), 0 0 0 1px rgba(hsl(0, 0%, 100%), 0.1);
    color: var(--white-ter);
  }

  .control {
    .input,
    .input::placeholder,
    select,
    textarea,
    textarea::placeholder {
      background-color: var(--grey-darker);
      border-color: var(--grey);
      color: var(--grey-light);
    }
    .input:hover,
    .input:hover::placeholder,
    .input:focus,
    .input:focus::placeholder,
    select:hover,
    select:focus,
    textarea:hover,
    textarea:hover::placeholder,
    textarea:focus,
    textarea:focus::placeholder {
      background-color: var(--grey-dark);
      border-color: var(--grey-light);
      color: var(--white-ter);
    }
  }

  .tabs.is-toggle li:not(.is-active) {
    a {
      color: var(--grey-lighter);
      border-color: var(--grey);
    }
    a:hover {
      color: var(--white-ter);
      background-color: var(--grey-dark);
      border-color: var(--grey-light);
    }
  }

  .section {
    background-color: var(--black);
    color: var(--white-ter);
  }

  .loading-background {
    background-color: rgba(60, 60, 60, 0.52);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  label {
    color: var(--white-ter);
  }
}
