.v-center-content {
  flex-direction: column;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.cursor-pointer {
  cursor: pointer;
}

.divider-small {
  width: 10rem;
  margin-left: auto;
  margin-right: auto;
}

.isFullWidth {
  width: 100%;
}
